body {
  font-family: helvetica neue;
}

.screen {
  display: none;
  width: 100%;
  height: 100%;
}

.screen.active {
  display: block;
}

#white_noise {
  background: black;
}

.monitor {
  width: 658px;
  height: 449px;
  background-image: url('/monitor.png');
  position: absolute;
}

.monitor_screen {
  width: 609px;
  height: 344px;
  margin-left: 25px;
  margin-top: 6px;
}

.white_noise_controller img {
  width: 100%;
  height: 100%;
}

.thumb {
  height: 50px;
}

#snitchy_link {
  margin-right: 100px;
}

nav {
  position: relative;
  top: 380px;
  left: 305px;
}

nav a {
  color: pink;
  text-decoration: none;
}

.pink {
  color: #ff00ff;
}

.light_blue {
  color: #00fcff;
}

.grey {
  color: #b5b5b5;
}

.grey-2 {
  color: #9a9a9a;
}

.dark-grey {
  color: #9a9a9a;
}

#progress {
  background-image: url('/SnitchyLoading.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 150px;
}

@font-face {
  font-family: hgjb;
  src: url('/fonts/hgjb.woff');
}

#progress #text {
  margin-top: 82px;
  display: inline-block;
  font-family: hgjb, helvetica neue;
}

.bold {
  font-weight: 700;
}

#player {
  margin-left: -3000px;
  position: absolute;
}

.show_snitch_controller img {
  width: 100%;
}

.show_snitch_controller {
  overflow: hidden;
}
